<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Miniphpy</title>
		
		<?php if (DEBUG_MODE == true) : ?>
			<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="public/css/main.css">
		<?php else : ?>
			<link rel="stylesheet" href="public/css/minified.css">
		<?php endif; ?>		
	</head>

	<body>