<!-- Whole config export/import modals -->
<div id="export-config-modal" class="config-modal modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Export this config</h4>
			</div>
			
			<div class="modal-body">
				<textarea class="config-modal-code form-control" spellcheck="false"></textarea>
				
				<p>
					Take this code and import it in another install.
				</p>
			</div>
		</div>
	</div>
</div>

<div id="import-config-modal" class="config-modal modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Import config code</h4>
			</div>
			
			<div class="modal-body">
				<textarea id="import-config-code" class="config-modal-code form-control" spellcheck="false"></textarea>
				
				<p>
					Take code from another install and paste it in here.
				</p>
				
				<div class="alert alert-warning">
					<strong>Warning:</strong> This will replace your whole config and all your settings.
				</div>
			</div>
			
			<div class="modal-footer">
				<button id="import-config-go" type="button" class="btn btn-primary-reverse">
					Start import
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Project config export/import modals -->
<div id="export-project-modal" class="config-modal modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Export this project</h4>
			</div>
			
			<div class="modal-body">
				<textarea class="config-modal-code form-control" spellcheck="false"></textarea>
				
				<p>
					Take this code and import it in another install.
				</p>
			</div>
		</div>
	</div>
</div>

<div id="import-project-modal" class="config-modal modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Import config code into this project</h4>
			</div>
			
			<div class="modal-body">
				<textarea id="import-project-code" class="config-modal-code form-control" spellcheck="false"></textarea>
				
				<p>
					Take code from another install and paste it in here.
				</p>
				
				<div class="alert alert-warning">
					<strong>Warning:</strong> This will replace all bundles and settings of this project.
				</div>
			</div>
			
			<div class="modal-footer">
				<button id="import-project-go" type="button" class="btn btn-primary-reverse" data-project-id="">
					Start import
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Warning when deleting project -->
<div id="delete-project-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content panel-warning">
			<div class="modal-header panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Warning</h4>
			</div>
			
			<div class="modal-body">
				This will delete this project and all its data.<br>
				Are you sure, you want to proceed?
			</div>
			
			<div class="modal-footer">
				<button id="delete-project-go" type="button" class="btn btn-warning-reverse" data-project-id="">
					Yes, delete it
				</button>
				
				<button type="button" class="btn btn-default-reverse" data-dismiss="modal" aria-label="Close">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>