<section class="tpl-area">
	<article id="tpl-input-group">
		<div data-input-group-id="" class="input-group-id panel panel-default">
			<div class="miniphpy-input-group-header">
				<div class="row">
					<div class="col-lg-1 col-xs-4">
						<div class=""></div>
						<div class="dropdown">
							<button 
								type="button" 
								class="tpl-input-group-type-dropdown-toggle btn btn-default dropdown-toggle" 
								id="" 
								data-toggle="dropdown"
								aria-haspopup="true" 
								aria-expanded="false"
							>
								<span class="tpl-input-group-type"></span>
								<span class="caret"></span>
							</button>
							
							<ul class="tpl-input-group-type-dropdown-menu dropdown-menu" aria-labelledby="">
							</ul>
						</div>
					</div>
					
					<div class="col-lg-3 col-xs-8">
						<input type="text" class="tpl-input-group-title form-control" placeholder="Bundle with no name">
					</div>
					
					<div class="col-lg-4 col-md-6 col-xs-12">
						<input type="text" class="tpl-input-group-output-file form-control form-control-light" placeholder="Output file">
					</div>
					
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="btn-group pull-right">
							<button type="button" class="tpl-input-group-remove btn btn-default-reverse">
								<span class="glyphicon glyphicon-minus-sign"></span>
								Remove
							</button>
							
							<button type="button" class="tpl-input-group-add btn btn-default-reverse">
								<span class="glyphicon glyphicon-plus-sign"></span>
								Add
							</button>
							
							<button type="button" class="tpl-input-group-toggle-auto-refresh btn btn-outline btn-slim">
								<span class="glyphicon glyphicon-retweet"></span>
							</button>
								
							<div class="btn-group">
								<button type="button" class="tpl-input-group-minify btn btn-primary-reverse">
									<span class="tpl-input-group-minify-icon glyphicon glyphicon-play"></span>
									Minify
								</button>
								
								<button type="button" class="btn btn-primary-reverse btn-slim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								
								<div class="tpl-input-group-compression-option-dropdown-menu dropdown-menu pull-right">
								</div>
							</div>
						</div>								
					</div>
				</div>
			</div>
			
			<div class="tpl-input-group-inputs list-group">
			</div>
		</div>
	</article>
	
	<article id="tpl-input">
		<div data-id="" class="input-id list-group-item">
			<div class="input-group">
				<input type="text" class="tpl-input-file form-control" placeholder="Enter a path or an URL">
				
				<span class="input-group-btn">
					<button type="button" class="tpl-input-remove btn btn-default-reverse">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</button>
				</span>
				
				<span class="tpl-input-position input-group-addon" style="display: none;"></span>
			</div>
		</div>
	</article>
	
	<article id="tpl-no-bundles">
		<div class="no-bundles">
			<h1 class="no-bundles-arrow"><span class="glyphicon glyphicon-arrow-up"></span></h1>
			<h1 class="no-bundles-info">Click here to make your first bundle</h1>
		</div>
	</article>
	
	<article id="tpl-no-inputs">
		<div class="no-inputs">
			<h1 class="no-inputs-arrow"><span class="glyphicon glyphicon-arrow-up"></span></h1>
			<h1 class="no-inputs-info">Add your first input file</h1>
		</div>
	</article>
</section>