<section class="tpl-area">
	<article id="tpl-project-tab">
		<li role="presentation">
			<a class="project-tab-link" href="" aria-controls="" role="tab" data-toggle="tab" data-project-id="">
				
			</a>
		</li>
	</article>
	
	<article id="tpl-project">
		<div id="" data-id="" class="project project-id tab-pane active">
			<div class="row">
				<div class="col-lg-2 col-md-3">
					<button type="button" class="add-input-group btn btn-primary btn-outline">
						<span class="glyphicon glyphicon-plus-sign"></span>
						Add a new bundle
					</button>
				</div>
				
				<div class="col-lg-5 col-md-5">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-outline"
								data-toggle="modal" data-target="#export-project-modal">
							<span class="glyphicon glyphicon-upload"></span>
							Export this project
						</button>
						
						<button type="button" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						
						<ul class="dropdown-menu">
							<li><a href="#export-config-modal" data-toggle="modal" data-target="#export-config-modal">Export the whole config</a></li>
						</ul>
					</div>
					
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-outline"
								data-toggle="modal" data-target="#import-project-modal">
							<span class="glyphicon glyphicon-download"></span>
							Import external project
						</button>
						
						<button type="button" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						
						<ul class="dropdown-menu">
							<li><a href="#import-config-modal" data-toggle="modal" data-target="#import-config-modal">Import and replace the whole config</a></li>
						</ul>
					</div>		
					

				</div>
				
				<div class="col-lg-5 col-md-4">
					<div class="row">
						<div class="col-sm-8">
							<input type="text" class="edit-project-title-input form-control" style="display: none;">
						</div>
						
						<div class="col-sm-4" style="text-align: right;">
							<button type="button" class="edit-project-title-btn btn btn-default btn-outline btn-slim" title="Rename this project">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							
							<button type="button" class="remove-project btn btn-default btn-outline btn-slim" title="Remove this project">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
	
			
			<div class="bundles"></div>			
		</div>
	</article>
	
	<article id="tpl-bundle">
		<div data-input-group-id="" class="input-group-id panel panel-default">
			<div class="miniphpy-input-group-header">
				<div class="row">
					<div class="col-lg-1 col-xs-4">
						<div class=""></div>
						<div class="dropdown">
							<button 
								type="button" 
								class="tpl-input-group-type-dropdown-toggle btn btn-default dropdown-toggle" 
								id="" 
								data-toggle="dropdown"
								aria-haspopup="true" 
								aria-expanded="false"
							>
								<span class="tpl-input-group-type"></span>
								<span class="caret"></span>
							</button>
							
							<ul class="tpl-input-group-type-dropdown-menu dropdown-menu" aria-labelledby="">
							</ul>
						</div>
					</div>
					
					<div class="col-lg-3 col-xs-8">
						<input type="text" class="tpl-input-group-title form-control dark-form-control" placeholder="Bundle with no name">
					</div>
					
					<div class="col-lg-5 col-md-8 col-xs-12">
						<input type="text" class="tpl-input-group-output-file form-control dark-form-control form-control-light" placeholder="Output file">
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-12">
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="tpl-input-group-remove btn btn-default-reverse">
									<span class="glyphicon glyphicon-minus-sign"></span>
									Remove
								</button>
								

							</div>
							
							<div class="btn-group">
								<button type="button" class="tpl-input-group-toggle-auto-refresh btn btn-outline btn-slim" title="Auto refresh">
									<span class="glyphicon glyphicon-retweet"></span>
								</button>
									
								<div class="btn-group">
									<button type="button" class="tpl-input-group-minify btn btn-primary-reverse">
										<span class="tpl-input-group-minify-icon glyphicon glyphicon-play"></span>
										Minify
									</button>
									
									<button type="button" class="btn btn-primary-reverse btn-slim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									
									<div class="tpl-input-group-compression-option-dropdown-menu dropdown-menu pull-right">
									</div>
								</div>
							</div>
						</div>								
					</div>
				</div>
			</div>
			
			<div class="miniphpy-input-row row">
				<div class="col-md-3">
					<div class="miniphpy-input-sidebar">
						<div class="miniphpy-input-menu btn-group-vertical" style="width: 100%">
							<button type="button" class="tpl-input-group-add btn btn-default-reverse">
								<span class="glyphicon glyphicon-plus-sign"></span>
								Add an input file
							</button>
							
							<button type="button" class="tpl-input-group-edit btn btn-default-reverse">
								<span class="glyphicon glyphicon-pencil"></span>
								Edit manually
							</button>
						</div>
						
						<input type="text" class="tpl-bundle-root-path form-control dark-form-control form-control-light" placeholder="Root path">
					</div>
				</div>		
				
				<div class="col-md-9">
					<div class="tpl-input-group-inputs list-group"></div>
					
					<textarea 
						class="tpl-input-group-inputs-textarea form-control" 
						style="display: none; min-height: 150px;"
						spellcheck="false"
					></textarea>
				</div>		
			</div>
			
			
		</div>
	</article>
	
	<article id="tpl-input">
		<div data-id="" class="input-id list-group-item">
			<div class="input-group">
				<input type="text" class="tpl-input-file form-control" placeholder="Enter a path or an URL" spellcheck="false">
				
				<span class="input-group-btn">
					<button type="button" class="tpl-input-remove btn btn-default-reverse">
						<span class="glyphicon glyphicon-minus-sign"></span>
					</button>
				</span>
				
				<span class="tpl-input-position input-group-addon" style="display: none;"></span>
			</div>
		</div>
	</article>
	
	<article id="tpl-no-bundles">
		<div class="no-bundles">
			<h1 class="no-bundles-arrow"><span class="glyphicon glyphicon-arrow-up"></span></h1>
			<h1 class="no-bundles-info">Click here to make your first bundle</h1>
		</div>
	</article>
	
	<article id="tpl-no-inputs">
		<div class="no-inputs">
			<h1 class="no-inputs-arrow"><span class="glyphicon glyphicon-arrow-left"></span></h1>
			<h1 class="no-inputs-info">Add your first input file</h1>
		</div>
	</article>
</section>