@import "mixins/_buttons";
@import "_buttons";
@import "../_bootstrap-less/bootstrap";
@import "_bootswatch";
@import "_sk-folding-cube";

@import "_miniphpy";



.no-inputs, 
.no-bundles {
    color: lighten(@btn-default-bg, 40%);
}

.no-inputs {
    padding-bottom: 20px;
}
 
.no-bundles {
    .no-bundles-arrow {
        padding-left: 60px;
    }
}

@media screen and (max-width: 992px) {
    .add-input-group {
        margin-bottom: 10px;
    }
}

.miniphpy-input-menu {
    .btn {
        text-align: left;
    }
}

.miniphpy-input-row {
    overflow: hidden;
    
    .miniphpy-input-sidebar {
        margin-bottom: -5000px;
        padding-bottom: 5000px;   
        background-color: darken(@btn-default-bg, 3%);     
    }
}

.miniphpy-input-group-header {
    background-color: darken(@btn-default-bg, 3%);
    
    .form-control {
        background-color: transparent;
        color: #fff;
    }
    
    .form-control:hover {
        background-color: fade(#fff, 10%);
    }
    
    .form-control:focus {
        background-color: fade(#fff, 15%);
    }
}

.tpl-input-group-title {
    font-weight: 600;
}